In [13]:
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt
import ast

In [14]:
# Load csv file
comments_data = pd.read_csv('data/labelled_dataset.csv')

# Dataframe
df_comments = pd.DataFrame(comments_data)

In [15]:
# Dataframes for different platforms
df_fb = df_comments[df_comments['Platform'] == 'Facebook']
df_yt = df_comments[df_comments['Platform'] == 'Youtube']
df_red = df_comments[df_comments['Platform'] == 'Reddit']
df_tik = df_comments[df_comments['Platform'] == 'Tiktok']

## Understanding the dataset

In [16]:
# check data samples 
df_comments.head(3)

,Platform,Text,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5,Topic 6,Best Topic
0,Facebook,nowadays every thing seem increasing governanc...,0.953512,0.000000,0.000000,0.000000,0.000000,0.000000,1
1,Facebook,disagree high,0.055609,0.055623,0.055557,0.722094,0.055557,0.055561,4
2,Facebook,wag tayong magalala naniniwala isusuprise sir ...,0.000000,0.000000,0.000000,0.010050,0.000000,0.950684,6

In [17]:
# check duplicates
print("Duplicates: ", df_comments.duplicated().sum())

Duplicates:  97

In [18]:
# check missing values
df_comments.isnull().sum()

Platform      0
Text          0
Topic 1       0
Topic 2       0
Topic 3       0
Topic 4       0
Topic 5       0
Topic 6       0
Best Topic    0
dtype: int64

In [19]:
# check the data type of each column
df_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5156 entries, 0 to 5155
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Platform    5156 non-null   object
 1   Text        5156 non-null   object
 2   Topic 1     5156 non-null   float64
 3   Topic 2     5156 non-null   float64
 4   Topic 3     5156 non-null   float64
 5   Topic 4     5156 non-null   float64
 6   Topic 5     5156 non-null   float64
 7   Topic 6     5156 non-null   float64
 8   Best Topic  5156 non-null   int64
dtypes: float64(6), int64(1), object(2)
memory usage: 362.7+ KB

In [20]:
# describe the dataset
df_comments.describe()

,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5,Topic 6,Best Topic
count,5156.000000,5156.000000,5156.000000,5156.000000,5156.000000,5156.000000,5156.000000
mean,0.253723,0.128385,0.224907,0.153131,0.083543,0.152608,3.074670
std,0.291060,0.199068,0.275752,0.225898,0.151803,0.233541,1.758904
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.027814,0.018573,0.023843,0.016793,0.015169,0.016706,1.000000
50%,0.083335,0.041674,0.058772,0.041723,0.027883,0.041676,3.000000
75%,0.475188,0.127986,0.382984,0.187262,0.055839,0.173125,4.000000
max,0.997189,0.984736,0.983513,0.950766,0.965216,0.968768,6.000000

In [21]:
# check unique platforms
df_comments['Platform'].unique()

array(['Facebook', 'Reddit', 'Tiktok', 'Youtube'], dtype=object)

## Visualization