In [71]:
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
import operator
from itertools import islice

In [72]:
dataframe = pd.read_csv('./data/labelled_dataset.csv')
dataframe.head()

,Platform,Text,Topic 1,Topic 2,Topic 3,Topic 4,Topic 5,Topic 6,Best Topic
0,Facebook,nowadays every thing seem increasing governanc...,0.872072,0.000000,0.000000,0.090702,0.000000,0.000000,1
1,Facebook,disagree high,0.056015,0.056168,0.055559,0.720877,0.055559,0.055822,4
2,Facebook,tayong magalala naniniwala isusuprise sir bbm ...,0.010428,0.010424,0.010568,0.418144,0.010423,0.540014,6
3,Facebook,ok yang nang bansa ganyan selfish fanatic blen...,0.131990,0.018559,0.018721,0.573137,0.018559,0.239034,4
4,Facebook,samasama tayong babaon,0.041692,0.041692,0.041819,0.542127,0.290956,0.041715,4

In [73]:
corpus = list(dataframe["Text"])

In [74]:
# from collections import Counter
# import pprint
# counts = dict(Counter(corpus))
# duplicates = {key:value for key, value in counts.items() if value > 1}
# pprint.pprint(duplicates)

In [75]:
row_col_names = [f"{i}" for i in range(len(corpus))]

In [76]:
def get_pairs_scores(matrix:list, type:str)->dict:
   
   pair_scores = {}
   res = []
   if type=='similarity':
      res = matrix.idxmax(axis='columns')
   else:
      res = matrix.idxmin(axis='columns')
   for index, column in enumerate(res):
      test = matrix.loc[matrix.index[index], column]
      
      if  test >= .9 and type=="similarity":
         continue
      elif test>=1:
         continue
         
      doc1_len = len(corpus[index].split(' ')) 
      doc2_len = len(corpus[int(column)].split(' '))
      # Exclude documents that are less than 6 and more than 30 characters
      if doc1_len<=6 or doc2_len <=6 or doc1_len>=30 or doc2_len >=30:
         continue
      if f"{column}:{index}" not in pair_scores.keys():
         pair_scores[f"{index}:{column}"] = test
   return pair_scores


def take(n, iterable):
    "Return first n items of the iterable as a list"
    return list(islice(iterable, n))
 
def show_sentence_pairs(pairs:list):
   for pair in pairs:
      doc_pair_index = pair[0].split(':')
      doc1_idx = int(doc_pair_index[0])
      doc2_idx = int(doc_pair_index[1])

      print(f"Sentence 1: {corpus[doc1_idx]} \n Sentence 2: {corpus[doc2_idx]}")

In [77]:
tfidf = TfidfVectorizer()

# Construct the TF-IDF matrix
tfidf_matrix = tfidf.fit_transform(corpus)


# Generate cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [78]:
similarity_matrix = pd.DataFrame(cosine_sim, index=row_col_names, columns=row_col_names )
for i in range(len(similarity_matrix)): 
    similarity_matrix.iat[i, i] = np.nan
similarity_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,4686,4687,4688,4689,4690,4691,4692,4693,4694,4695
0,NaN,0.0,0.000000,0.127159,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
1,0.000000,NaN,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.330497,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2,0.000000,0.0,NaN,0.000000,0.097896,0.0,0.038161,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.019566,0.0,0.047418,0.0,0.0,0.0
3,0.127159,0.0,0.000000,NaN,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.150336,0.0,0.000000,0.0,0.0,0.0
4,0.000000,0.0,0.097896,0.000000,NaN,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0

In [79]:
pair_scores = get_pairs_scores(similarity_matrix, "similarity")
topPairs = dict(sorted(pair_scores.items(), key=operator.itemgetter(1),reverse=True))
topN_pairs = take(20, topPairs.items())
show_sentence_pairs(topN_pairs)

Sentence 1: additional note tabloid start pilipino star nothing yet bulgar hataw title count broadsheet tabloid looking previous edition post check herehttpswwwredditcomuseryohannesburpcommentstqpcdfrontpageforbroadsheetsandtabloidthread
 Sentence 2: additional note tabloid start bulgar yesterday people newspaper included edition yet hataw title count broadsheet tabloid looking previous edition post check herehttpswwwredditcomuseryohannesburpcommentstqpcdfrontpageforbroadsheetsandtabloidthread
Sentence 1: usually see number would say nice time nice
 Sentence 2: usually would reply nice see isnt nice
Sentence 1: happy kaming minion importante nakabalik junior malacaang tahanan
 Sentence 2: importante happy majority filipino people nakabalik marcos tahanan
Sentence 1: hahahaha sure kang government edi wala silang kurakot
 Sentence 2: ayaw kurakot sinasabi edi wala silang kurakot gustong pang mangyari
Sentence 1: mahal mg kuryente niyo ate baka nakikikabit dyan mahal ganun kamahal kunsumo ref
 Sentence 2: mahal kuryente ate baka maraming nakikikabit diyan
Sentence 1: nobody complains kilo tomato kilo banana expensive kilo pork people already diabetis high blood fat afugh
 Sentence 2: pbbm n kilo bigas n kilo n
Sentence 1: want retire cheap rd world country expect rd world quality life cant cake eat
 Sentence 2: rd world country price good st world rate high
Sentence 1: mahal bigas middle man naalis middle man possible bumaba price
 Sentence 2: need magsasaka tatanggalin middle man middle man nagpapahirap magsasaka
Sentence 1: people government smart remittance ofw helping economy
 Sentence 2: government stop claiming economy relies ofw remittance
Sentence 1: political analyst stock analyst agricultural expert hahaha
 Sentence 2: ekonomista historian analyst crypto expert lawyer political expert marketing expert aba talino ah
Sentence 1: gumagamit ac pm arawaraw ref ibang appliance ngunit k kuryente nagka bill k siguro init
 Sentence 2: grabe bill kuryente ref ac hr day gana tv ibang appliance nasa k mothly bill
Sentence 1: think worse st world country bec holiday season many want spend good scarce due supply chain issue rd world spending much mangeable
 Sentence 2: rd world country price good st world rate high
Sentence 1: june year date skyrocketed month june maybe war ukraine
 Sentence 2: understanding mataas month june specific month unlike consecutive month june
Sentence 1: sweldo man tumaas tumaas utang banda shemay
 Sentence 2: ok sanang tumaas sana tumaas sweldo trabahante
Sentence 1: implasyonmali daw president bbmantayin p kilo bigas
 Sentence 2: pbbm n kilo bigas n kilo n
Sentence 1: hi gossip incoming psei rebalancing like example rumor secbdmcscc another question psei always stock include deserving company like dmc areit
 Sentence 2: hi tsismis regarding psei rebalancing dmc scc
Sentence 1: parang pwede e kakaupo palang bbm haha
 Sentence 2: pangungunahan bbm kakaupo palang month president bbm tapos dami kuda anti
Sentence 1: ibang bansa ok tumaas presyo malaki sweldo pilipinas unity
 Sentence 2: ok sanang tumaas sana tumaas sweldo trabahante
Sentence 1: filipino inflated ego many would rather play deeper mud admit wrong
 Sentence 2: would rather feed ego rather admitting wrong
Sentence 1: wala kayang ok sustentuhan pagwaldas pera dayunyor tiis tiis basta unity
 Sentence 2: sorry tyo tiis tiis affectected happy proud

In [80]:
# Generate cosine similarity
cosine_distance = cosine_distances(tfidf_matrix, tfidf_matrix)
distance_matrix = pd.DataFrame(cosine_distance, index=row_col_names, columns=row_col_names )
for i in range(len(distance_matrix)): 
    distance_matrix.iat[i, i] = np.nan
distance_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,4686,4687,4688,4689,4690,4691,4692,4693,4694,4695
0,NaN,1.0,1.000000,0.872841,1.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.0,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0
1,1.000000,NaN,1.000000,1.000000,1.000000,1.0,1.000000,1.0,0.669503,1.0,...,1.0,1.0,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0
2,1.000000,1.0,NaN,1.000000,0.902104,1.0,0.961839,1.0,1.000000,1.0,...,1.0,1.0,1.0,1.0,0.980434,1.0,0.952582,1.0,1.0,1.0
3,0.872841,1.0,1.000000,NaN,1.000000,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.0,1.0,1.0,0.849664,1.0,1.000000,1.0,1.0,1.0
4,1.000000,1.0,0.902104,1.000000,NaN,1.0,1.000000,1.0,1.000000,1.0,...,1.0,1.0,1.0,1.0,1.000000,1.0,1.000000,1.0,1.0,1.0

In [87]:

pair_scores = get_pairs_scores(distance_matrix, "distance")
topPairs = dict(sorted(pair_scores.items(), key=operator.itemgetter(1),reverse=True))
topN_pairs = take(20, topPairs.items())
show_sentence_pairs(topN_pairs)

Sentence 1: fish free tuna sound friendlier tuna business opposed unfish could construed attack core business
 Sentence 2: government business enterprise food rice part national security
Sentence 1: haha true kc tatalino ngaw ngaw ngaw ngaw hahah nmn magets year date basic jusmi
 Sentence 2: research nyang oras alam month date year date
Sentence 1: right confront dictator junior daughtertes supporter shenanigan pulled last election call hypocrisy doubt theyll get fired political belief dont interfere work ethic performance
 Sentence 2: marcoss supporter dont even mean let alone economics work
Sentence 1: alam gaano karaming effort mabibigay pagtitipid pagtitiis nagsisipag parang nararating bwisit
 Sentence 2: grabe dami anak tuwing nakikita naiirita bwisit
Sentence 1: discriminatory vaccine passport mandate utter disgrace comply
 Sentence 2: tell bf eat dick lmao umno najib fucking disgrace
Sentence 1: check fmetf first metro etf work cheaper alternative term fee also go sun life convenient youps study getting risk involved fee expectation etc jumping
 Sentence 2: salamat sharing siomai king promo k k franchise fee
Sentence 1: really thought could barge well established market duopoly strong arm becoming third member duterte two telecom giant strangle divy remains
 Sentence 2: one best cabinet member president duterte salute man
Sentence 1: got scammed lenilugaw youre going get scammed butter lmao
 Sentence 2: gon lead country got highi trying curb got highour debt level still messed know whycause got highbecause got highbecause got high
Sentence 1: venus project prated version tuluyang makakapaglunas debt socioeconomicstructural inefficiency
 Sentence 2: dont forget caused government debt global caused global debt quadrillion raw debt
Sentence 1: batong narrator nato kagana gana kalatoy latoy
 Sentence 2: paki mention oras wala nako gana manood balita
Sentence 1: yup confirm chat couple friend staggering economy ph mess today previous admin yet still blame dilawans anlungkot tignan ganoon katindi pagiging panatiko
 Sentence 2: compare previous admin war last time uncontrollable
Sentence 1: know theyre gon get chewed question asked opposite side many kakampinks cautious voicing side unpredictable behavior even action marcosexuals
 Sentence 2: saving rent transportation expense working home made side gig possible side gig wonder saving investment
Sentence 1: would advise check top expensive thing spend improve make sense trying save penny ignoring one cost thousandsfor example rent relocation utility solar water purifier cheaper transpo rideshare bike
 Sentence 2: well safe rule anytime whether recession boom time always spend lower salary save save save
Sentence 1: make sound like people dont throw thrash window saw lot thrash side freeway visited california justifying putting thing perspectiveim hap chan awful
 Sentence 2: doesnt make sense dont throw claim lab rat theyre use experiment seriously want yo make sound smart try
Sentence 1: forget sugar phillipines need discover wholemeal bread
 Sentence 2: dont forget also order solve rate target rate
Sentence 1: importing lot foodincluding riceto feed people really difference driving v vietnam
 Sentence 2: look golden spade big enough feed ego
Sentence 1: magulo f pinsan fav sonyour future president
 Sentence 2: world wide inflationkahit pang presidente makakaiwaspasalamat natulad bankrupt gaya sri lanka magulo buhay
Sentence 1: k palengke allotment weekly pre pandemic k ngayonyung monthly allotment grocery k dati k
 Sentence 2: ata diba palagi sinasabi dati dati dati dati lol parang edad dati yr old yr old kana basic sample maintindihan tumataas halaga take note pinas kundi buong mundo
Sentence 1: httpsacesubidonetphinflationcalculatorwatch friend mine mass market limited edition rolex seiko watch adamant buy watch investmenti pointed way product appreciate value scarcity involved desire scarcity
 Sentence 2: luxury watch like rolex also hit dip based report httpswwwbloombergcomopinionarticlescryptostockmeltdownhitsrolexpatekphilippeaudemarspiguetwatches
Sentence 1: create maraming trabahodapat trabaho ibigay taohindi ayudapag meron pong puede pang magtrabaho pamilya trabaho ibigay okay pong bigyan ayuda yong puedeng magtrabahoat pababain presyo bilihinyong mabibili murang halaga
 Sentence 2: dami kasing anak problema pagtaas presyo problema kalibugan pong asawa